.imagem{
    background: url("https://s3.amazonaws.com/s3.timetoast.com/public/uploads/photos/8362705/engenharia_software.jpg")no-repeat;
    width: 500px;
    height: 380px;
    display: block;
    background-size: contain;
}

.imagem:hover{
    background-position: 0px 40px;
}

.imagem:active{ 
    background-position: 40px 40px;
}